<!DOCTYPE html>

<html>

<link rel="stylesheet" href="em.css">
<img alt="No image supported" id = "empireimg1" src= "/DALL·E 2024-11-25 01.08.22 - A minimalistic orange and yellow crown logo with simple geometric shapes. The design features smooth gradients and a sleek, modern style. The crown co.webp">

<h3 id = "Express">Express</h3>
<h3 id = "Market">Market</h3>




<div id = "user">
<img alt="noimg" id = "userimg" src="https://icones.pro/wp-content/uploads/2021/02/icone-utilisateur-orange.png">
Logged in as<p>Current Balance</p> 


<button id = "Logoutbtn">

    Logout
</button>

</div>


<div id = "navbar">
<a href="/em">
<button id = "btn1" class = "class2">

HOME

</button>
</a>




<button id = "btn3" class = "class2">

    MESSAGES
    
</button>

<button id = "btn4" class = "class2">

    ORDERS
    
</button>





<button id = "btn7" class = "class2">

    FEEDBACK
    
</button>





<button id = "btn9" class = "class2">

    SUPPORT
</button>

</div>
<div id = "linkBar"></div>
<div id = "lotteryz">
    
    
    <div id = "lotteryNAMEz">

        


       <h2 id = "move1z">PROFILE ACTIONS</h3>
        <div id = "containerofthe">

            <h3 class = "corn" id = "access4z">My Information</h3>
            <h3 class = "corn" id = "access5z">Private Messages</h3>
            <h3 class = "corn" id = "access6z">Listings</h3>
            <h3 class = "corn" id = "access7z">Orders</h3>
            <h3 class = "corn" id = "access8z">Queue List</h3>
            <h3 class = "corn" id = "access9z">Favorite Listings</h3>
            <h3 class = "corn" id = "access10z">Favorite Vendors</h3>
            <h3 class = "corn" id = "access11z">Feedback</h3>
            <h3 class = "corn" id = "access12z">Vendor Block List</h3>
            <h3 class = "corn" id = "access13z">Help</h3>
        </div>
     
    </div>


  

</div>


<div id = "ChatModal">
    
    
    <div id = "chatModalNameDiv">

        


       <h2 id = "move1zz">Chatting with: NULL</h3>
      
        <button id = "callBtn"></button>
    
     
    </div>
    <div id = "containeroftheChat">

           
    </div>
   
    <button id = "sendChatBtn"></button>
    <input id = "inputcntr">



    <script>
        document.getElementById('btn1').addEventListener('click', () => {
            window.location.href = '/em'; // Redirect to the home page
        });
      </script>
</html>
