<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Code</title>
    <link rel="stylesheet" href="/public/brug.css">
    
</head>
<body>

<form id="form" action="/verify" method="post">
    <div id="holder">
        <h2>Enter Verification Code</h2>
        <input type="text" id="VerificationBox" placeholder="Enter 2FA Code" name="code" required>
        <button id="Confirm" type="submit">Confirm</button>
    </div>
</form>

</body>
</html>
